# [作業目標]

1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```


2. 一個包含兩個欄位的 DataFrame，將每個數字減去

```
* 1) 該欄位的平均數
* 2) 該筆資料平均數
```

3. 承上題，請問：

```
* 1) 哪一比的資料總合最小
* 2) 哪一欄位的資料總合最小
```

# 作業

### 1. 根據題目給的 DataFrame 完成下列操作：

```
- 計算每個不同種類 animal 的 age 的平均數
- 計算每個不同種類 animal 的 age 的平均數
- 將資料依照 Age 欄位由小到大排序，再依照 visits 欄位由大到小排序
- 將 priority 欄位中的 yes 和 no 字串，換成是布林值 的 True 和 False
```

In [1]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np

In [2]:
data = {
    'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
    'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
    'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']
}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(data, index=labels)
df

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  2.0       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

In [3]:
for a in set(df['animal']):
    print(a, df[df['animal'] == a]['age'].mean())
print('-------')
print(df.sort_values(by = ['age']))
print('------')
print(df.sort_values(by = ['visits'], ascending = False))
print('------')
df['priority'].replace("yes", "True", inplace = True)
df['priority'].replace("no", "False", inplace = True)
print(df)

cat 2.5
dog 5.0
snake 2.5
-------
  animal  age  visits priority
c  snake  0.5       2       no
f    cat  2.0       3       no
a    cat  2.5       1      yes
b    cat  3.0       3      yes
j    dog  3.0       1       no
g  snake  4.5       1       no
e    dog  5.0       2       no
i    dog  7.0       2       no
d    dog  NaN       3      yes
h    cat  NaN       1      yes
------
  animal  age  visits priority
b    cat  3.0       3      yes
d    dog  NaN       3      yes
f    cat  2.0       3       no
c  snake  0.5       2       no
e    dog  5.0       2       no
i    dog  7.0       2       no
a    cat  2.5       1      yes
g  snake  4.5       1       no
h    cat  NaN       1      yes
j    dog  3.0       1       no
------
  animal  age  visits priority
a    cat  2.5       1     True
b    cat  3.0       3     True
c  snake  0.5       2    False
d    dog  NaN       3     True
e    dog  5.0       2    False
f    cat  2.0       3    False
g  snake  4.5       1    False
h    cat  NaN       1     True
i    dog  7.0       2    False
j    dog  3.0       1    False

### 2. 一個包含兩個欄位的 DataFrame，將每個數字減去

* 1) 該欄位的平均數
* 2) 該筆資料平均數

In [4]:
df = pd.DataFrame(np.random.random(size=(5, 3)))
df

          0         1         2
0  0.759019  0.887981  0.439781
1  0.746054  0.882145  0.299563
2  0.351116  0.607475  0.655460
3  0.046780  0.027350  0.693161
4  0.653333  0.647327  0.754225

In [5]:
df - df.mean()

          0         1         2
0  0.247758  0.277526 -0.128657
1  0.234793  0.271689 -0.268875
2 -0.160144 -0.002980  0.087022
3 -0.464480 -0.583106  0.124722
4  0.142073  0.036871  0.185787

In [6]:
df_cop = df.copy(deep = True) # deep = True：使df_cop的改變不影響df
for i in range(len(df_cop)):
    df_cop.iloc[i] = df_cop.iloc[i] - df_cop.mean(axis = 1)[i]
print(df_cop)

          0         1         2
0  0.063425  0.192388 -0.255812
1  0.103467  0.239558 -0.343024
2 -0.186901  0.069458  0.117443
3 -0.208983 -0.228414  0.437397
4 -0.031629 -0.037635  0.069264

### 3. 承上題，請問：

1) 哪一比的資料總合最小
2) 哪一欄位的資料總合最小

In [7]:
df

          0         1         2
0  0.759019  0.887981  0.439781
1  0.746054  0.882145  0.299563
2  0.351116  0.607475  0.655460
3  0.046780  0.027350  0.693161
4  0.653333  0.647327  0.754225

In [8]:
print(df.sum(axis = 1))
df.sum(axis = 1).idxmin()

0    2.086781
1    1.927761
2    1.614052
3    0.767290
4    2.054885
dtype: float64

3

In [9]:
print(df.sum())
df.sum().idxmin()

0    2.556301
1    3.052278
2    2.842190
dtype: float64

0